<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KnockBlog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

    <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.5.rc1.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.5.rc1.min.js"></script>

    <script type="text/javascript"
            th:src="@{/js/main.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">KnockBlog</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">My Posts</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>


<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<div id="menu">
    <form th:action="@{/logout}" method="post">
        <input class="btn" type="submit" value="Sign Out"/>
    </form>

    <button class="btn" id="callAddPostBtn" name="save">Add new post</button>
</div>


<div id="createPostPopup" style="display: none; width: 650px; height: 400px; overflow: auto">
    <div rel="title">
        Create a Post
    </div>
    <div rel="body">
        <div style="padding: 10; font-size: 11px; line-height: 150%;">
            <div class="w2ui-field w2ui-span8" style="clear: both">
                <label>Post Title</label>
                <div>
                    <input id="postTitle" name="field_text" type="text" maxlength="100" style="width: 250px !important;"
                           title=""/>
                </div>
            </div>

            <div class="w2ui-field w2ui-span8" style="clear: both">
                <label>Content</label>
                <div>
                    <textarea id="postContent" name="field_textarea"
                              style="width: 450px; height: 80px; resize: none"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div rel="buttons">
        <button class="btn" id="createPostBtn">Create</button>
    </div>
</div>


<div id="posts" style="width: 100%; height: 250px;"></div>

</body>
</html>